streamlit==1.14.0
pandas==1.4.3
numpy==1.23.2
plotly==5.10.0
streamlit-option-menu==0.3.2
streamlit-aggrid==0.0.4
opencv-python==4.6.0.66
Wikipedia-API==0.5.4
transformers==4.24.0
torch==1.12.1
torchvision==0.13.1
statsmodels==0.13.5
spacy==3.4.2
spacy-legacy==3.0.10
spacy-loggers==1.0.3
scikit-learn==1.1.2
sentence-transformers==2.2.2
seaborn==0.12.1
requests==2.28.1
regex==2022.8.17
Pillow==9.2.0
pdfminer3==2018.12.3.0
pandas-profiling==3.5.0
openpyxl==3.0.10
nltk==3.7
matplotlib==3.5.3
huggingface-hub==0.10.1
gensim==4.2.0
bs4==0.0.1